%h1 Change Password

- if @user.errors.any?
  %ul
    - @user.errors.full_messages.each do |msg|
      %li= msg

= form_with url: change_password_path(@user.id), class: "form-group", local: true do |f|
  %div
    = label_tag :current_password
    = password_field_tag :password
  %div
    = f.label :new_password
    = f.password_field :password
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  = f.submit class: "btn btn-outline-primary"