
<p style="color: green"><%= notice %></p> 

<% if @appointments.present? %>
    <%= @appointments.each do |appointment| %>
    <% if can? :staff_member, appointment %>
        <table>
            <tr>
                <th> Appointment ID </th>
                <td> <%= appointment.id %> </td>
            </tr>
            <tr>
                <th> Staff Member ID </th>
                <td> <%= appointment.staff_member_id %> </td>
            </tr>
            <tr>
                <th> Patient ID </th>
                <td> <%= appointment.patient_id %> </td>
            </tr>
            <tr>
                <th> Start Time </th>
                <td> <%= appointment.start_at %> </td>
            </tr>
            <tr>
                <th> End Time </th>
                <td> <%= appointment.end_at %> </td>
            </tr>
        </table>
    <% elsif can? :patient, appointment %>  
         <table>
            <tr>
                <th> Appointment ID </th>
                <td> <%= appointment.id %> </td>
            </tr>
            <tr>
                <th> Staff Member ID </th>
                <td> <%= appointment.staff_member_id %> </td>
            </tr>
            <tr>
                <th> Patient ID </th>
                <td> <%= appointment.patient_id %> </td>
            </tr>
            <tr>
                <th> Start Time </th>
                <td> <%= appointment.start_at %> </td>
            </tr>
            <tr>
                <th> End Time </th>
                <td> <%= appointment.end_at %> </td>
            </tr>
        </table>
        <%end%>
    <%end%>
     <% else %>   
        <h2> Whoops! Looks like you don't have any upcoming appointments. Please reach out to a staff member to book one. <h2>
<%end%>    
        

