<p style="color: green"><%= notice %></p>

<%= form_with url: import_appointments_path, method: :post do |form| %>
    <%= form.file_field :file, accept: ".csv" %>
    <%= form.button "Import" %>
<% end %>

 Currently imported appointments:
  <%= @appointments.count %>
  
